/******* ESTILOS GENERALES *******/

body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #bdc1c6;
    background: #202124;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover,
a:active {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/*****************************************HEADER**************************************/

header {
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding: 6px;
}

.content {
    display: flex;
    list-style: none;
    height: 48px;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 4px;
}

.content a {
    margin-left: 6px;
    margin-right: 4px;
}

.navbar-anchor {
    padding-right: 2px;
}

.gmail {
    padding-right: 1.5px;
}

.navbar-anchor-googleapps {
    height: 40px;
    width: 40px;
    padding-right: 5px;
}

.icon-chocolate {
    display: flex;
    align-self: center;
    width: 23px;
    height: 23px;
    cursor: pointer;
    padding: 8px;
    margin-left: 7px;
    margin-right: 10px ;
}

.icon-chocolate:hover {
    background-color: #303134;
    border-radius: 50%;
}

.avatar {
    border-radius: 50%;
    padding: 4px;
    display: flex;
}
.navbar-anchor-avatar:hover {
    background-color: #303134;
    border-radius: 50%;

}

/*********MILKA MENU*********/

.milka {
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0,0.5);
    position: absolute;
    top: 48px;
    right: 10px;
    padding: 12px;
    width: 328px;
    height: 400px;
    background-color: #333438;
    display: none;
}

.milka.active {
    display: block;
}

.avatar-grid {
    border-radius: 50%;
    width: 24px;
    display: inline-block;
    /* height: 64px;
    vertical-align: top;
    width: 64px; */
}

.google-grid {
    width: 24px;
}

.grid-item {
    border-radius: 8px;
    margin: 0;
    outline: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 84px;
}

.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.225);
    border-radius: 4px;
}

/**************************************LOGO*************************************/
.mainSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/**************************************INPUT************************************/

.input-holder {
    display: flex;
    padding: 4px 8px 1px 14px;
    background: #202124;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    width: 584px;
    max-width: 584px;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
}

.input-holder2 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
} 

.historial {
    border-top: 1px solid #3c4043;
    position: absolute;
    top: 26px;
    background-color: #2f3135;
    border-radius: 0 0 24px 24px;
    width: 100%;
    left: -1px;
    height: 200px;
    border: 1px solid #5f6368;
    border-top: none;
    z-index: -1;
}

.historial-closed {
    display: none;
}

.input-holder:hover {
    background: #2f3135;
    box-shadow: 0 1px 6px 0 #171717;
    border-color: rgba(223,225,229,0);
}

.lupita-container {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    
}

.lupita {
    display: flex;
    align-items: center;
    /* padding-right: 13px; */
    margin-top: -5px;
    width: 20px;
/* margin-left: 5px;
    margin-top: 3px; */
}

.botones a:link, .botones a:visited {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.botones {
    margin-top: 5px;
    margin-right: 5px;
}

.botones img {
    width: 24px;
    height: 24px;
}

.input1 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.input2 .input-de-verdad {
    background-color: transparent;
    border: none;
    outline: none;
    color: #9aa0a6;
    font-size: 16px;
    width: 100%;
}

.input2 {
    color: transparent;
    white-space: pre;
}

.input2, .input-de-verdad {
    height: 34px;
    font-size: 16px;
    flex: 100%;
}

.input-de-verdad {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    /*estan en otra clase pero aplican a input*/

    margin-top: -37px
}

.space {
    display: inline;
    margin: 7px;
}
/****************************************BOTONES***************************************/

.button-container {
    /* height: 70px; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
}

.btn {
    border-radius: 4px;
    background-color: #303134;
    border: 1px solid #303134;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.btn:hover {
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    border: 1px solid #5f6368;
    color: #e8eaed;
}

/***************************************FOOTER*********************************************/

footer {
    color: #9aa0a6;
    background-color: #171717;
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.footer-one {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
}

.footer-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 20px;
}

ul .footer-left .footer-right {
    margin: 0;
    padding: 0;
}

.footer-left, .footer-right {
    display: flex;
    list-style: none;
    /* flex-wrap: wrap; */
}

.footer-anchor {
    color: #999da2;
    display: block;
    padding: 15px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    /* .right {
        margin-top: 20px;
    } */
}

@media only screen and (max-width: 1200px) {
    .footer-left {
        justify-content: space-evenly;
    }
}
/*****************************DISPLAY HISTORIAL LIST **************************/

.display-input-none {
    display: none;
}

.display-input {
    display: block;
}

/*GRID MENU*/

.milka {
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0,0.5);
    position: absolute;
    top: 48px;
    right: 15px;
    padding: 12px;
    width: 328px;
    height: 400px;
    background-color: #333438;
    display: none;
    color:#ffffff;
    max-height: calc(-63.0026px + 100vh);
    transition: height 0.3s ease-in-out 0s;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
}

.milka ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.grid-menu {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    overflow-x: hidden;
    padding-top: 0;
    position: absolute;
    right: 15px;
    top: 60px;
    width: 315px;
    z-index: 2;
}

.grid-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

/* .grid-menu ul {
    box-sizing: content-box;
    margin: 0;
    padding: 0 0 0 14px;
    width: 300px;
} */

.grid-menu ul li {
    display: inline-block;
    height: 84px;
    list-style-type: none;
    padding: 6px;
    position: relative;
    transition: transform .2s cubic-bezier(.333,0,0,1);
    vertical-align: top;
    width: 84px;
}


.grid-menu :nth-child(1) {
    background-image: url(../assets/avatar.png);
}
.grid-menu :nth-child(2) {
    background-image: url(../assets/search.png)
}
.grid-menu :nth-child(3) {
    background-image: url(../assets/google-maps.png)
}
.grid-menu :nth-child(4) {
    background-image: url(../assets/youtube.png)
}
.grid-menu :nth-child(5) {
    background-image: url(../assets/play_store.png)
}
.grid-menu :nth-child(6) {
    background-image: url(../assets/news.png)
}
.grid-menu :nth-child(7) {
    background-image: url(../assets/gmail.png)
}
.grid-menu :nth-child(8) {
    background-image: url(../assets/meet.png)
}
.grid-menu :nth-child(9) {
    background-image: url(../assets/drive.png)
}
.grid-menu :nth-child(10) {
    background-image: url(../assets/calendar.png)
}
.grid-menu :nth-child(11) {
    background-image: url(../assets/translate.png)
}
.grid-menu :nth-child(12) {
    background-image: url(../assets/fotos.png)
}
.grid-menu :nth-child(13) {
    background-image: url(../assets/shop.png)
}
